In [2]:
import pandas as pd
import numpy as np

In [4]:
pd.DataFrame({"a":[1,2,3]})

   a
0  1
1  2
2  3